<launch>

  <!-- args corresponding to environment variables -->
  <arg name="UAV_NAME" default="$(env UAV_NAME)" />
  <arg name="PROFILER" default="$(optenv PROFILER false)" />
  <arg name="RUN_TYPE" default="$(env RUN_TYPE)" />

    <!-- other args -->
  <arg name="standalone" default="false" />
  <arg name="debug" default="false" />

  <arg     if="$(eval arg('standalone') or arg('debug') or arg('RUN_TYPE') == 'simulation')" name="nodelet" value="standalone" />
  <arg unless="$(eval arg('standalone') or arg('debug') or arg('RUN_TYPE') == 'simulation')" name="nodelet" value="load" />
  <arg     if="$(eval arg('standalone') or arg('debug') or arg('RUN_TYPE') == 'simulation')" name="nodelet_manager" value="" />
  <arg unless="$(eval arg('standalone') or arg('debug') or arg('RUN_TYPE') == 'simulation')" name="nodelet_manager" value="$(arg UAV_NAME)_optflow_nodelet_manager" />

  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />

  <arg name="camera_frame" default="$(arg UAV_NAME)/bluefox_optflow_optical" />
  <arg name="uav_frame" default="$(arg UAV_NAME)/fcu" />
  <arg name="uav_untilted_frame" default="$(arg UAV_NAME)/fcu_untilted" />

  <arg name="use_ocl" default="true" />

  <group ns="$(arg UAV_NAME)">

    <!-- republisher -->
    <node name="republisher_optflow" pkg="image_transport" type="republish" args="compressed in:=/$(arg UAV_NAME)/bluefox_optflow/image_raw raw out:=/$(arg UAV_NAME)/bluefox_optflow/image_raw" output="screen" launch-prefix="bash -c 'sleep 5; $0 $@'"/>
    <!-- Optic flow nodelet -->
    <!-- The delay in the launch prefix is important, without it the camera driver does not load sometimes! -->
    <node name="optic_flow" pkg="nodelet" type="nodelet" args="$(arg nodelet) mrs_optic_flow/OpticFlow $(arg nodelet_manager)" output="screen" respawn="false" >

    <!-- <node name="optic_flow" pkg="nodelet" type="nodelet" args="$(arg nodelet) mrs_optic_flow/OpticFlow $(arg nodelet_manager)" output="screen" respawn="false" launch-prefix="bash -c 'sleep 5; debug_roslaunch $0 $@'"> -->
      <!-- <node name="optic_flow" pkg="nodelet" type="nodelet" args="$(arg nodelet) mrs_optic_flow/OpticFlow $(arg nodelet_manager)"  respawn="false" launch-prefix="cuda-memcheck -/-log-file /home/viktor/cuda-log.txt"> -->

      <rosparam file="$(find mrs_optic_flow)/config/default.yaml" />
      <rosparam file="$(find mrs_optic_flow)/config/$(arg RUN_TYPE).yaml" />


      <param name="enable_profiler" value="$(arg PROFILER)" />

      <param name="camera_frame" value="$(arg camera_frame)" />
      <param name="uav_frame" value="$(arg uav_frame)" />
      <param name="uav_untilted_frame" value="$(arg uav_untilted_frame)" />

      <param name="FftCLFile" value="$(find mrs_optic_flow)/src/FftMethod.cl" />
      <param name="useOCL" value="$(arg use_ocl)" />

        <!-- Subscribers -->
      <remap from="~tracker_status_in" to="control_manager/diagnostics" />
      <remap from="~odometry_in" to="odometry/orientation" />
      <remap from="~camera_in" to="bluefox_optflow/image_raw" />
      <remap from="~camera_info_in" to="bluefox_optflow/camera_info" />
      <remap from="~uav_height_in" to="odometry/altitude" />
      <remap from="~imu_in" to="mavros/imu/data" />

        <!-- Publishers -->
      <remap from="~velocity_out" to="~velocity" />
      <remap from="~velocity_out_longrange" to="~velocity_longrange" />
      <remap from="~velocity_raw_out" to="~velocity_raw" />
      <remap from="~velocity_stddev_out" to="~velocity_stddev" />
      <remap from="~tilt_correction_out" to="~tilt_correction" />
      <remap from="~allsac_chosen_out" to="~allsac_chosen" />
      <remap from="~profiler" to="profiler" />

    </node>

  </group>

</launch>
