<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME)" />
  <arg name="profiler" default="$(optenv PROFILER false)" />

  <!-- Bluefox2  -->
  <arg name="device" default="$(env BLUEFOX)" />
  <arg name="rate" default="60" />

  <group ns="$(arg uav_name)">

    <!-- Vision Nodelet manager -->
    <node pkg="nodelet" type="nodelet" name="$(arg uav_name)_vision_nodelet_manager" args="manager" output="screen" respawn="true">
      <param name="num_worker_threads" value="4" />
    </node>

    <!-- Camera Settings -->
    <arg name="serial" default="$(arg device)" />
    <arg name="camera_name" default="bluefox" />
    <arg name="camera" default="$(arg camera_name)" />
    <arg name="frame_id" default="$(arg camera)" />
    <arg name="calib_url" default="file://$(find mrs_main)/config/camera_calibrations/mv_$(arg device)_radtan.yaml" />
    <arg name="fps" default="$(arg rate)" />

    <arg name="idpf" default="0" />
    <arg name="aec" default="false" />
    <!-- sunny -->
    <!-- <arg name="expose_us" default="75" /> -->
    <arg name="expose_us" default="400" /> <!-- dusk -->
    <arg name="agc" default="true" />
    <arg name="gain_db" default="0.0" />
    <arg name="cbm" default="0" />
    <arg name="ctm" default="1" />
    <arg name="dcfm" default="0" />
    <arg name="hdr" default="false" />
    <arg name="wbp" default="-1" />
    <arg name="request" default="0" />
    <arg name="mm" default="0" />
    <arg name="jpeg_quality" default="90" />

    <!-- Node -->
    <node pkg="nodelet" type="nodelet" name="bluefox" args="load bluefox2/SingleNodelet $(arg uav_name)_vision_nodelet_manager" output="screen" respawn="true">

      <param name="identifier" type="string" value="$(arg serial)" />
      <param name="frame_id" type="string" value="$(arg frame_id)" />
      <param name="camera_name" type="string" value="$(arg camera_name)" />
      <param name="calib_url" type="string" value="$(arg calib_url)" />
      <param name="fps" type="double" value="$(arg fps)" />
      <param name="idpf" type="int" value="$(arg idpf)" />
      <param name="aec" type="bool" value="$(arg aec)" />
      <param name="expose_us" type="int" value="$(arg expose_us)" />
      <param name="agc" type="bool" value="$(arg agc)" />
      <param name="gain_db" type="double" value="$(arg gain_db)" />
      <param name="cbm" type="int" value="$(arg cbm)" />
      <param name="ctm" type="int" value="$(arg ctm)" />
      <param name="dcfm" type="int" value="$(arg dcfm)" />
      <param name="hdr" type="bool" value="$(arg hdr)" />
      <param name="wbp" type="int" value="$(arg wbp)" />
      <param name="request" type="int" value="$(arg request)" />
      <param name="mm" type="int" value="$(arg mm)" />

      <!-- Params for theora quality, images being compressed into "stream" -->
      <param name="image_raw/compressed/jpeg_quality" type="int" value="$(arg jpeg_quality)" />
      <param name="image_raw/theora/keyframe_frequency" value="60"  />
      <param name="image_raw/theora/target_bitrate" value="50000"  />
      <param name="image_raw/theora/quality" value="8"  />
      <param name="image_raw/theora/optimize_for" value="0"  />

    </node>

    <node name="optic_flow" pkg="nodelet" type="nodelet" args="load optic_flow/OpticFlow $(arg uav_name)_vision_nodelet_manager" output="screen" respawn="true">

      <rosparam file="$(find optic_flow)/config/uav.yaml" />
      <param name="enable_profiler" value="$(arg profiler)" />

      <!-- File with camera parameters - loaded when nothing found on Camera info -->
      <rosparam file="$(find optic_flow)/config/bluefox_uav5_as_of_26-4.yaml" />

      <!-- Subscribers -->
      <remap from="~odometry_in" to="odometry/new_odom" />
      <remap from="~camera_in" to="bluefox/image_raw" />
      <remap from="~camera_info_in" to="bluefox/camera_info" />
      <remap from="~uav_height_in" to="odometry/altitude" />
      <remap from="~imu_in" to="mavros/imu/data_raw" />

      <!-- Publishers -->
      <remap from="~velocity_out" to="~velocity" />
      <remap from="~velocity_raw_out" to="~velocity_raw" />
      <remap from="~velocity_stddev_out" to="~velocity_stddev" />
      <remap from="~tilt_correction_out" to="~tilt_correction" />
      <remap from="~allsac_chosen_out" to="~allsac_chosen" />
      <remap from="~profiler" to="profiler" />

    </node>

  </group>

</launch>
