<launch>

  <arg name="uav_name" default="$(optenv UAV_NAME uav)" />
  <!-- <arg name="standalone" default="true" /> -->
  <arg name="standalone" default="$(optenv STANDALONE false)" />
  <arg name="profiler" default="$(optenv PROFILER false)" />

  <arg name="cam_device" default="$(env BLUEFOX_OF)" />
  <arg name="cam_rate" default="100" />
  <arg name="cam_plugin" default="true"/>
  <arg name="cam_output" default="screen"/>
  <arg name="cam_proc" default="false"/>
  <arg name="cam_view" default="false"/>
  <arg name="cam_calib" default="false"/>

  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg uav_name)_vision_nodelet_manager"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>

  <arg name="camera_frame" default="optflow_cam_$(arg uav_name)" />
  <arg name="uav_frame" default="fcu_$(arg uav_name)" />
  <arg name="uav_untilted_frame" default="fcu_untilted_$(arg uav_name)" />
  <arg name="cam_yaw" default="-1.57079632679" />
  <!-- <arg name="cam_yaw" default="0" /> -->

  <!-- Autoexposure nodelet -->
  <!-- <include file="$(find mrs_auto_exposure)/launch/uav_optic_flow_dark.launch" /> -->

  <group ns="$(arg uav_name)">

    <node
      name="optflow_cam_tf"
      pkg="tf2_ros"
      type="static_transform_publisher"
      args="0 0 -0.1 $(arg cam_yaw) 0.00000000000 -3.14159265359 $(arg uav_frame) $(arg camera_frame) "/>
    <!--Usage: static_transform_publisher x y z yaw pitch roll frame_id child_frame_id  period(milliseconds)-->

    <node pkg="nodelet" type="nodelet" name="$(arg uav_name)_vision_nodelet_manager" args="manager" output="screen" launch-prefix="debug_roslaunch">
      <param name="num_worker_threads" value="8" />
    </node>

    <!-- Bluefox2 nodelet -->
    <!-- Camera Settings -->
    <arg name="serial" default="$(arg cam_device)" />
    <arg name="camera_name" default="bluefox" />
    <arg name="camera" default="$(arg camera_name)" />
    <arg name="frame_id" default="$(arg camera)" />
    <arg name="calib_url" default="file://$(find mrs_general)/config/camera_calibrations/mv_$(arg cam_device).yaml" />
    <arg name="fps" default="$(arg cam_rate)" />
    <arg name="color" default="false"/>
    <arg name="idpf" default="0" />
    <arg name="aec" default="false" />
    <arg name="expose_upper_limit_us" default="7500"/>
    <!-- sunny -->
    <!-- <arg name="expose_us" default="75" /> -->
    <arg name="expose_us" default="400" /> <!-- dusk -->
    <arg name="agc" default="true" />
    <arg name="boost" value="false"/>
    <arg name="gain_db" default="0.0" />
    <arg name="cbm" default="0" />
    <arg name="ctm" default="1" />
    <arg name="dcfm" default="0" />
    <arg name="hdr" default="false" />
    <arg name="wbp" default="-1" />
    <arg name="request" default="0" />
    <arg name="mm" default="0" />

    <!-- Arguments for theora quality, images being compressed into "stream" -->
    <arg name="compressed_jpeg_quality" default="90" />
    <arg name="theora_keyframe_frequency" default="60"  />
    <arg name="theora_target_bitrate" default="50000"  />
    <arg name="theora_quality" default="8"  />
    <arg name="theora_optimize_for" default="0"  />

    <include file="$(find bluefox2)/launch/single_nodelet.launch" >

      <!-- Common Interface -->
      <arg name="device" value="$(arg cam_device)"/>
      <arg name="rate" value="$(arg cam_rate)"/>

      <!-- Camera Settings -->
      <arg name="serial" value="$(arg cam_device)"/>
      <arg name="camera_name" value="$(arg camera_name)"/>
      <arg name="camera" value="$(arg camera)"/>
      <arg name="frame_id" value="$(arg frame_id)"/>
      <arg name="calib_url" value="$(arg calib_url)"/>
      <arg name="fps" value="$(arg fps)"/>
      <arg name="color" value="$(arg color)"/>
      <arg name="aec" value="$(arg aec)"/>
      <arg name="expose_upper_limit_us" value="$(arg expose_upper_limit_us)"/>
      <arg name="cbm" value="$(arg cbm)"/>
      <arg name="ctm" value="$(arg ctm)"/>
      <arg name="dcfm" value="$(arg dcfm)"/>
      <arg name="hdr" value="$(arg hdr)"/>
      <arg name="wbp" value="$(arg wbp)"/>
      <arg name="expose_us" value="$(arg expose_us)"/>
      <arg name="gain_db" value="$(arg gain_db)"/>
      <arg name="boost" value="$(arg boost)"/>
      <arg name="mm" value="$(arg mm)"/>

      <!-- Node Settings -->
      <arg name="plugin" value="$(arg cam_plugin)"/>
      <arg name="manager" value="$(arg uav_name)_vision_nodelet_manager"/>
      <arg name="output" value="$(arg cam_output)"/>
      <arg name="proc" value="$(arg cam_proc)"/>
      <arg name="view" value="$(arg cam_view)"/>
      <arg name="calib" value="$(arg cam_calib)"/>

      <!-- Arguments for theora quality, images being compressed into "stream" -->
      <arg name="compressed_jpeg_quality" default="$(arg compressed_jpeg_quality)" />
      <arg name="theora_keyframe_frequency" default="$(arg theora_keyframe_frequency)"  />
      <arg name="theora_target_bitrate" default="$(arg theora_target_bitrate)"  />
      <arg name="theora_quality" default="$(arg theora_quality)"  />
      <arg name="theora_optimize_for" default="$(arg theora_optimize_for)"  />

    </include>

    <!-- Optic flow nodelet -->
    <node name="optic_flow" pkg="nodelet" type="nodelet" args="$(arg nodelet) mrs_optic_flow/OpticFlow $(arg nodelet_manager)" output="screen" respawn="true" launch-prefix="bash -c 'sleep 5; $0 $@'">

      <!-- <node name="mrs_optic_flow" pkg="nodelet" type="nodelet" args="standalone mrs_optic_flow/OpticFlow " output="screen" launch-prefix="debug_roslaunch"> -->
        <!-- <node name="mrs_optic_flow" pkg="nodelet" type="nodelet" args="standalone mrs_optic_flow/OpticFlow " output="screen"> -->

          <rosparam file="$(find mrs_optic_flow)/config/uav5.yaml" />
          <rosparam file="$(find mrs_optic_flow)/config/bluefox_simulation.yaml" />
          <param name="enable_profiler" value="$(arg profiler)" />

          <param name="camera_frame" value="$(arg camera_frame)" />
          <param name="uav_frame" value="$(arg uav_frame)" />
          <param name="uav_untilted_frame" value="$(arg uav_untilted_frame)" />

          <param name="FftCLFile" value="$(find mrs_optic_flow)/src/FftMethod.cl" />
          <param name="useOCL" value="true" />

          <!-- Subscribers -->
          <!--remap from="~odometry_in" to="ground_truth" /-->
          <remap from="~odometry_in" to="odometry/orientation" />
          <remap from="~camera_in" to="bluefox/image_raw" />
          <remap from="~camera_info_in" to="bluefox/camera_info" />
          <remap from="~uav_height_in" to="odometry/altitude" />
          <remap from="~imu_in" to="mavros/imu/data" />

          <!-- Publishers -->
          <remap from="~velocity_out" to="~velocity" />
          <remap from="~velocity_raw_out" to="~velocity_raw" />
          <remap from="~velocity_stddev_out" to="~velocity_stddev" />
          <remap from="~tilt_correction_out" to="~tilt_correction" />
          <remap from="~allsac_chosen_out" to="~allsac_chosen" />
          <remap from="~profiler" to="profiler" />

        </node>

      </group>

    </launch>
